<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Tite" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" id="" rows="3" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" name="image" placeholder="Image">
                </div>
                <button class="btn btn-success btn-block">
                    Save Game
                </button>
            </form>
        </div>
    </div>
</div>
